<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  
</head>
<body>
  <div id="app">
	  <li :key='item.id' v-for='(item, index) in myFruits'>
	    <span class="av">{{item.ename}}</span>
	    <span>-----</span>
	    <span>{{item.cname}}</span>
	  </li>
    <div v-for='(v,k,i) in obj'>{{v + '---' + k + '---' + i}}</div>
  </div>
  <script type="text/javascript" src="js/vue.js"></script>
  <script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    // 使用原生js遍历对象
    var obj = {
      uname: 'lisi',
      age: 12,
      gender: 'male'
    }
    for(var key in obj) {
      console.log(key, obj[key])
    }
    /*
      循环结构
    */
    var vm = new Vue({
      el: '#app',
      data: {
        obj: {
          uname: 'zhangsan',
          age: 13,
          gender: 'female'
        },
		myFruits: [{
		  id: 1,
		  ename: 'apple',
		  cname: '苹果'
		},{
		  id: 2,
		  ename: 'orange',
		  cname: '橘子'
		},{
		  id: 3,
		  ename: 'banana',
		  cname: '香蕉'
		}]
		
      }
    });
  </script>
</body>
</html>
